body, p, table{ font-size: 13px; font-family: "微软雅黑", YaHei, "Helvetica Neue", Helvetica,  Arial, sans-serif; }
a, a:hover { color: #4183C4; }
.btn i { margin-top: 2px; }
.btn-large [class^="icon-"], a [class^="icon-"] {   margin-top: 3px; }
blockquote { background: url(../images/common/blockquote.png) 0 0 no-repeat; border-left: none; padding: 5px 0 5px 40px; margin-bottom: 10px; }
blockquote .blockquote_right { background: url(../images/common/blockquote1.png) right bottom no-repeat; padding-bottom: 5px; padding-right: 30px; }

.form-actions { background: none; border-top: none; }
.header {
    height: 61px; line-height: 61px;  background-color: #F5F5F5; background: url(../images/home/indexbg.png) 0 0 repeat-x;
}
.header a { color: #222; }
.header .dropdown-menu { background-color: #F5F5F5; min-width: 140px; }
.header .dropdown-menu a:hover { background-color: #F5F5F5; color: #000; }

.header_new { height: 101px; width: 100%; line-height: 101px; }
.header_new a { color: #222; }
.header_new .logo { font-family: "Times New Roman",Times,serif; font-size: 48px; color: #006664;  }
.header_new .logo:hover { text-decoration: none; }

.header_nav {
    background: #008080;
    /* Old browsers */
    background: -moz-linear-gradient(top, #008585 0%, #007676 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008585), color-stop(100%, #007676));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #008585 0%, #007676 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #008585 0%, #007676 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #008585 0%, #007676 100%);
    /* IE10+ */
    background: linear-gradient(top, #008585 0%, #007676 100%);
    /* W3C */
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='@tealLight', endColorstr='@tealDark', GradientType=0);
    /* IE6-9 */
    border-bottom: 4px solid #3399CC;
    clear: both;
}
.header_nav ul { margin-bottom: 0; }
.header_nav ul li { display: inline; }
.header_nav ul li a {
    color: #FFFFFF;
    display: inline-block;
    padding: 9px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;;
}
.header_nav ul li a:hover { background-color: #006161; }
.header_nav ul li a.current {
    background-color: #3399CC;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 3px -2px 3px 0 rgba(0, 0, 0, 0.1);
    margin-top: -5px;
    padding-top: 12px;
}

#default .site {

}

.footer {
    padding: 10px 0; color: #636363; font-size: 12px; overflow: hidden; border-top: 1px solid #E0E0E0; border-bottom: 1px solid #E0E0E0; box-shadow: inset 0 -1px 0 white; background-color: #F8F8F8;
}

.site { padding: 40px 0; }

.footer a { color: #636363; }
.box { box-shadow: 0 1px 2px #B0B3B6; padding: 15px; border:#DADEE1 1px solid; border-radius: 5px; }
.errors { background-color: #FFEBE8; padding: 10px; border: #DD3C10 1px solid; font-size: 12px; color: #333333; }
.red_star { color: #FF0000; font-family: "宋体"; padding-right: 4px; font-size: 16px; }
.flash_message { color: #666666; line-height: 25px; font-size: 12px; position: absolute; left: 40%; z-index: 9999; top: 100px; background-color: #FFF6C9; border: #F7E4A6 1px solid; border-radius: 3px; padding: 0 10px; }

.menu { background-color: #EFEFEF; padding: 5px; border-radius: 2px; margin-bottom: 20px; }
.menu ul { background-color: #FAFAFB; border: 1px solid #D8D8D8; border-radius: 2px; margin: 0; }
.menu ul li { border-bottom: 1px solid #EEEEEE; border-top: 1px solid #FFFFFF; }
.menu ul li:first-child { border-top: medium none; }
.menu ul li:last-child { border-bottom: medium none; }
.menu a { display: block; padding: 8px 10px; text-shadow: 0 1px 0 #FFFFFF; }
.menu a:hover { background-color: #FDFDFD; text-decoration: none; color: #08C; }
.menu a.selected { background: none repeat scroll 0 0 #FFFFFF; border-left: 2px solid #D26911; box-shadow: 0 0 1px rgba(0, 0, 0, 0.1) inset; color: #222222; cursor: default; font-weight: bold; }

.sider_tool { position: fixed; right: 0; top: 60%; }
.sider_tool ul { background-color: #F1F1F1; border: #E4E4E4 1px solid; border-radius: 3px; }
.sider_tool li { border-top: #FFF 1px solid; border-bottom: #E4E4E4 1px solid; width: 38px; height: 38px; line-height: 38px; text-align: center; }
.sider_tool li:first-child { border-top: none; }
.sider_tool li:last-child { border-bottom: none; }

.breadcrumb { border: none; background: none; }
.dl-just-show dd, .dl-just-show dt{ padding: 4px 0; }

.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mt10 { margin-top: 10px; }

.fs12 { font-size: 12px; }
.fs14 { font-size: 14px; }
.fs16 { font-size: 16px; }
.fs18 { font-size: 18px; }

.cred { color: red; }
.cgray { color: gray; }

#partners { background: url(../images/partner/partner_bg.jpg) center 0 no-repeat; background-color: #BEE1F5; }
#partners .header { width: 100%; color: #fff; top: 0; left: 0; position: fixed; _position: absolute; z-index: 999; height: 35px; line-height: 35px; background: url(../images/partner/bg_header.png) 0 0 repeat-x; }
#partners .header a { color: #fff; }
#partners .footer { background: none; border: none; box-shadow: none; }
#partners .site { padding-top: 55px; padding-bottom: 15px; }
#partners .site .container { background: url(../images/partner/repeat_bg_y.png) 0 0 repeat-y; background-position: -950px 0; border-radius: 5px; }
#partners .side_module { padding: 20px 0;padding-right: 20px; }
#partners .content { padding: 20px; background-color: #fff; border-radius: 5px 0 0 5px; border: #D3DEF9 1px solid; }
#partners .module_nav { margin-top: 10px; }
#partners .module_nav li { padding: 4px 20px; }
#partners .module_nav li.selected { background-color: #2B95D8; }
#partners .module_nav li.selected a { color: #FFF; }
#partners .module_nav li a { color: #1992C9; font-family: '宋体'; font-size: 14px; }
#partners .border { border-top: #C1D0F3 1px solid; }
#partners .module_nav i { width: 18px; height: 16px; display: inline-block; zoom: 1; margin-bottom: -3px; }
#partners .module_nav i.report { background: url(../images/partner/report.png) 0 center no-repeat; }
#partners .module_nav i.ticket { background: url(../images/partner/ticket.png) 0 center no-repeat; }
#partners .module_nav i.setting { background: url(../images/partner/setting.png) 0 center no-repeat; }

.timeline .item_box { border: 1px solid #DADEE1; border-radius: 5px 5px 5px 5px; box-shadow: 0 1px 2px #B0B3B6; margin-left: 30px; margin-top: -15px; padding: 15px; display: inline-block; zoom: 1; }
.timeline .item_box .pop-triangle { background: url(../images/common/narrow.png) repeat scroll 0 0 transparent; height: 17px; margin-left: -28px; margin-top: -10px; position: absolute; width: 13px; }
.timeline .dotted { height: 16px; width: 8px; background: url(../images/common/timeline_dotted.png) 0 0 no-repeat }
.timeline .warp { border-left: #DCE5EA 4px solid; margin-left: 2px; padding-bottom: 30px; }
.timeline .warp:last-child { padding-bottom: 5px; }
.timeline .warp .red { color: red; }
.timeline .warp .date { color: #777; font-size: 12px; }